<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="LanguageResourceFolder" value="~/Content/Lang"/>
    <!-- ::: Toptier.Authorization ::: -->
    <!--un-set or leave blank ef will set to [dbo]-->
    <add key="auth_DbSchema" value=""/>
    <add key="auth_LDAPPath" value=""/>
    <!--if true, required LDAPPath setting-->
    <add key="auth_AllowNotExistsUserLoginViaLDAP" value="false"/>
    <!--db(default)|session-->
    <add key="auth_AuthorizationMode" value="db"/>
    <!--none(default)|md5:<key>|base64-->
    <add key="auth_PasswordEncrypt" value="base64"/>
    <!--value input minutes unit-->
    <add key="auth_AuthenticationSessionLifetime" value="10080"/>
    <!-- length|require case|begin and end with alphabet|minimum variety of char|allow space|allow userID as part|not be recent pwd -->
    <add key="auth_StrongPasswordRules" value="8:16|ULNS:2|false|3|true|false|1"/>
    <!-- day, blank = forever -->
    <add key="auth_PasswordAge" value="90"/>
    <!-- fail block(times:within sec:block sec) -->
    <add key="auth_LoginPolicy" value="3:30:300"/>
    <add key="auth_UserAuthorizeAttribute_AuthenticationTimeoutResponseStatusCode" value="419"/>
    <add key="auth_UserAuthorizeAttribute_AuthenticationTimeoutGoToArea" value="_self"/>
    <add key="auth_UserAuthorizeAttribute_AuthenticationTimeoutGoToController" value="home"/>
    <add key="auth_UserAuthorizeAttribute_AuthenticationTimeoutGoToAction" value="authenticationtimeout"/>
    <add key="auth_UserAuthorizeAttribute_UnauthorizedResponseStatusCode" value="401"/>
    <add key="auth_UserAuthorizeAttribute_UnauthorizedGoToArea" value="_self"/>
    <add key="auth_UserAuthorizeAttribute_UnauthorizedGoToController" value="home"/>
    <add key="auth_UserAuthorizeAttribute_UnauthorizedGoToAction" value="unauthorized"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!-- ::: Authorize item code section ::: -->
    <!-- module Inventory -->
    <add key="auth-report" value="APT-001"/>
    <add key="auth-test1" value="APT-002"/>
    <add key="auth-test2" value="APT-003"/>
    <add key="auth-test3" value="APT-004"/>
    <add key="auth-upload-quiz" value="APT-005"/>
    <add key="auth-quiz-report" value="APT-006"/>
    <add key="auth-msg" value="APT-007"/>
    <add key="auth-admin" value="ADMIN"/>
    <add key="auth-user" value="USER"/>
    <add key="auth-import" value="APT-008"/>
    <add key="auth-export" value="APT-009"/>
    <add key="auth-performance" value="APT-010"/>
    <add key="auth-vocational" value="APT-011"/>
    <add key="auth-skill-matrix" value="APT-012"/>
    <add key="auth-workstation" value="APT-013"/>
    <!-- End authorize item code section -->
    <!-- ::: Format Section ::: -->
    <!--http://msdn.microsoft.com/en-us/library/8kb3ddd4(v=vs.110).aspx-->
    <add key="DisplayDateFormat" value="dd/MM/yyyy"/>
    <!--<add key="DisplayDateFormat" value="yyyy-MM-dd" />-->
    <add key="DisplayTimeFormat" value="HH:mm"/>
    <!-- "true" is show -->
    <add key="LoginShowDatabaseConnction" value="true"/>
    <!-- Email -->
    <add key="EmailSender" value="bmwm.apprentice@gmail.com"/>
    <add key="EmailPass" value="svyjbswbwqbgmanu"/>
    <add key="EmailReciver" value="jabavok.001@gmail.com,jabavok.007@gmail.com"/>
    <add key="Url" value="Home"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1"/>
	<customErrors mode="Off"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AUTHDB" connectionString="data source=192.168.10.2;initial catalog=BMWM.Apprentice.Intranet;user id=PRI;password=tSrZ7LtPHYSe;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="ApprenticeDB" connectionString="data source=192.168.10.2;initial catalog=BMWM.Apprentice.Intranet;persist security info=True;user id=PRI;password=tSrZ7LtPHYSe;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>
<!--ProjectGuid: C1DF3117-71C3-4327-B913-34DEA8D906C4-->